@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #010101;
  font-family: "Ubuntu", sans-serif;
}

.navbar .material-symbols-outlined {
  color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
}

.navbar {
  height: 80px;
  background-color: hsl(0, 0%, 10%);
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo a {
  font-size: 25px;
  font-weight: 700;
  color: white;
  margin-left: 10px;
}

.menu {
  display: flex;
  align-self: stretch;
  align-items: center;
  gap: 32px;
}

.menu-links {
  border-right: 1px solid #999999;
  padding-inline: 24px;
}

.menu ul {
  display: inline-flex;
  list-style: none;
}

.menu-links li {
  font-size: 15px;
  font-weight: 500;
  color: #999999;
  padding: 8px 30px;
  cursor: pointer;
}

.dropdown-menu li {
  font-weight: 500;
  color: #999999;
  padding: 8px 30px;
  cursor: pointer;
}

.menu-links ul li a {
  color: #999999;
}

.dropdown-menu ul li a {
  color: #999999;
}

.menu-links ul li a:hover {
  color: white;
  transition: 0.2s;
}

.dropdown-menu ul li a:hover {
  color: white;
  transition: 0.4s;
}

.dropdown-menu {
  display: none;
  border-radius: 15px;
}

.menu-links ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  background-color: hsl(0, 0%, 10%);
  margin-top: 8px;
}

.menu-links ul li:hover .dropdown-menu ul {
  display: block;
  margin-top: 5px;
}

.menu-links ul li:hover .dropdown-menu ul li {
  text-align: left;
  padding: 10px;
  width: 90px;
  background: transparent;
  border-bottom: 1px solid rgb(113, 109, 109);
}

.log-in {
  font-weight: 500;
  padding: 8px 18px;
  background-color: transparent;
  color: #ffffff;
  border: 0;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  border-radius: 10px;
  border: 2px solid #0aa5ff;
  transition: 0.2s;
}

.log-in:hover {
  background-color: #0aa5ff;
  color: white;
}

.bgimage img{
  width: 100%;
  height: 550px;
}

.head h1{
  color: white;
  margin-top: 10px;
  margin-left: 5%;
}

.info p{
  color: white;
  font-size: 16px;
  margin-top: 0;
  margin-left: 5%;
  margin-right: 35%;
  line-height: 35px;
}

.img img{
  display: flex;
  height: 300px;
  margin-top: -24%;
  margin-left: 65%;
  border: 2px solid white;
  border-radius: 15px;
}

:root {
  --footer-background: white;
  --text-color: #111420;
  --text-gray: #e1e1e1;
  --text-heading-gray: #b9b9b9;
}

html {
  font-size: 16px;
  font-family: 'Red Hat Display', sans-serif;
}

/*? footer reset */
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0px;
}

/*? footer containers */

footer {
  position: absolute;
  bottom: 0px;
  background-color: var(--footer-background);
  min-width: 300px;
  width: 100%;
  bottom: 0px;
  display: block;
  align-items: center;
  flex-direction: column;
}

.footer-wrapper {
  display: flex;
  background: var(--footer-background);
  flex-direction: column;
  max-width: 1320px;
  padding: 16px;
}


/*? top section */
.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  padding: 16px 0px;
  justify-content: space-between;
}

.footer-line {
  display: block;
  width: 100%;
  height: 8px;
  background: linear-gradient(90deg, #5da8ff,
          #605dff 50%, #ad63f6);
}

/*? footer subscribe */
.footer-subscribe {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.footer-subscribe>input {
  border: 1px solid var(--text-gray);
  color: var(--text-color);
  min-height: 36px;
  font-size: 1.2rem;
  flex: 1 0 120px;
  padding: 8px 12px;
  border-radius: 8px;
}

.footer-subscribe>button {
  cursor: pointer;
  background-color: var(--text-color);
  border-radius: 8px;
  color: white;
  font-size: 1.25rem;
  min-width: 120px;
  min-height: 36px;
  flex: 1 0 80px;
  white-space: nowrap;
  padding: 8px 12px;
  border: 0px;
  outline: none;
}

/*? footer columns */
.footer-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  flex: 2 0 140px;
  width: 100%;
  gap: 16px;
  padding: 24px 8px 16px 8px;
  margin: 0 auto;
  border-top: 1px solid var(--text-gray);
}

.footer-columns ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-columns ul a {
  color: var(--text-color);
  text-decoration: none;
}

.footer-columns ul a:hover {
  text-decoration: underline;
}

.footer-columns ul li {
  margin-bottom: 16px;
}

.footer-columns h3 {
  color: var(--footer-heading-gray);
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 1.125rem;
}

.footer-centering {
  margin: 0 auto;
}

.footer-columns>section {
  min-width: 150px;
}

.footer-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  min-width: 180px;
  gap: 8px;
}

.footer-logo>svg {
  stroke: var(--text-color);
  stroke-width: 8px;
  width: 50px;
}

/*? Footer bottom */

.footer-bottom {
  text-align: center;
  border-top: 1px solid var(--text-gray);
  margin-top: 48px;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 8px;
  padding: 16px 0px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-bottom>small {
  font-size: 16px;
  margin: 0 4px;
}

.footer-headline>h2 {
  margin: 0px;
}

.footer-headline>p {
  margin: 12px 0px;
}

/*? socials */

.social-links {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.social-links img {
  width: 24px;
  height: 24px;
  transition: all 0.2s ease-in-out;
}

.social-links img:hover {
  transform: scale(1.1);
}